VITE_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=697b8f42002a34ba04b3
VITE_APPWRITE_DATABASE_ID=697b8f660033fffde4be
VITE_APPWRITE_BOARDS_COLLECTION_ID=boards
VITE_APPWRITE_FIRMWARE_COLLECTION_ID=firmwares
VITE_APPWRITE_SKETCHES_COLLECTION_ID=sketches
VITE_APPWRITE_FIRMWARE_BUCKET_ID=firmware_bucket
VITE_APPWRITE_BOARD_ADMIN_FUNCTION_ID=board-admin
VITE_APPWRITE_DEVICE_GATEWAY_FUNCTION_ID=device-gateway
